<div class="sidebarmenu p-3 bg-white" th:fragment="sidebar">
	<span class="close-btn"><img th:if="${userId == null}"
		th:src="@{/images/menu-close-btn.png}" alt=""><img
		th:if="${userId != null}" th:src="@{/images/menu-close-btn-blk.jpeg}"
		alt=""></span>
	<div class="text-center d-flex align-items-center join-predguru"
		th:if="${userId == null}">
		<a th:href="@{/signup}">Join PredGuru</a>
	</div>
	<ul th:classappend="${userId == null} ? aditionSpace : ''">
		<li><a th:href="@{/rules}"><img
				th:src="@{/images/predguru-menu-icon.png}" alt="">PredGuru
				Rules</a></li>
		<li><a href="https://www.instagram.com/gopredguru?r=nametag"><img
				th:src="@{/images/insta-menu-icon.png}" alt="">Instagram</a></li>
		<!-- <li><a href="javascript:void(0);"><img
				th:src="@{/images/facebook-menu-icon.png}" alt="">Facebook</a></li> -->
		<li><a th:href="@{/contact-us}"><img
				th:src="@{/images/mail-menu-icon.png}" alt="">Contact us</a></li>
		<li th:if="${userId != null}">
			<div  th:if="${loginType=='google'}">
				<a href="#" onclick="signOut()"><img th:src="@{/images/logout-menu-icon.png}" alt="">Logout</a>
			</div>
			<div  th:if="${loginType=='facebook'}">
				<a href="#" onclick="fb_logout()"><img th:src="@{/images/logout-menu-icon.png}" alt="">Logout</a>
			</div>
		</li>
	</ul>

	<div class="col-12 sell-my-info">
		<a style="display:none" id="optClick" th:href="@{/opt}">Do
			not sell my info</a>
	</div>

</div>

<script>
</script>


