@media screen and (min-width: 0px) and (max-width:567px) {
.winner-fixed-box {
    background: #193881;
    width: 100%;
    position: fixed;
    bottom: 0px;
    max-width: 100% !important;
    z-index: 999;
}

}

@media (max-width:576px) {
    .app-wrapper-container,
     .redirection-strip{
        max-width: 100%;
    }
    #popup1 {
    max-width: 1000%;
}
}

@media (max-width:359px) {
	
    .landing-screen .logo {
        max-width: 80px;
    }
    .landing-screen .logo-name {
        max-width: 170px;
        margin: 0 auto 10px;
    }
    .landing-screen h1 {
        font-size: 22px;
        margin: 20px 0 10px;
    }
    .landing-screen h1 span {
        font-size: 22px;
    }
    .continue-screen-page .back-btn-arrow img ,
    .check-winners-page .back-btn-arrow img,
    .signup-page .back-btn-arrow img ,
    .check-winners-page .back-btn-arrow img ,
    .after-submit-pred-page .back-btn-arrow img {
        width: 12px;
    }
    .continue-screen-page .card-box {
        padding: 15px 10px;
    }
    .vs-column h6 {
        font-size: 13px;
    }
    .vs-column .image-outer {
        max-width: 50px;
        height: 50px;
    }
    .pred-match-now-ready .image-outer img {
        width: 34px;
    }
    .pred-match-now-ready h6 {
        font-size: 13px;
    }
    .upcoming-matches-list .card-box .top-head b {
        font-size: 11px;
    }
    .upcoming-matches-list .card-box .top-head small {
        font-size: 11px;
    }
    .upcoming-matches-list .card-box .top-head small img {
        width: 16px;
        margin: -3px 0 0;
    }
    .upcoming-matches-list .card-box .bottom-head .left-cols {
        flex: 0 0 36.333333%;
        max-width: 36.333333%;
    }
    .upcoming-matches-list .card-box .bottom-head .mid-cols {
        flex: 0 0 28.333333%;
        max-width: 28.333333%;
    }
    .upcoming-matches-list .card-box .bottom-head small {
        font-size: 8px;
    }
    .upcoming-matches-list .card-box .bottom-head .join-btn {
        line-height: 24px;
        padding: 0 10px;
    }
    .upcoming-matches-list .card-box .mid-content .image-outer {
        width: 40px;
        height: 40px;
    }
    .upcoming-matches-list .card-box .mid-content h6 {
        font-size: 10px;
    }
    .upcoming-matches-list .card-box .mid-content b {
        font-size: 14px;
    }
    .upcoming-matches-list .card-box .mid-content .left-cols {
        flex: 0 0 62.666667%;
        max-width: 62.666667%;
        padding-right: 0;
    }
    .upcoming-matches-list .card-box .mid-content .right-cols {
        flex: 0 0 36.333333%;
        max-width: 36.333333%;
        padding-left: 10px;
    }
    .contest-start-page .card-box .price-money-list li {
        padding-left: 25px;
        font-size: 15px;
    }
    .continue-screen-page .back-btn-arrow h5, 
    .signup-page .back-btn-arrow h5 ,
    .check-winners-page .back-btn-arrow h5 ,
    .after-submit-pred-page .back-btn-arrow h5 {
        font-size: 18px;
    }
    .google-facebook-signin a img {
        width: 30px;
    }
    .style-modals h3 {
        font-size: 20px;
        margin: 0 0 10px;
    }
    .style-modals p {
        font-size: 14px;
    }
    .style-modals .vs-column span {
        font-size: 12px;
    }
    .style-modals .vs-column .price-row h6 {
        font-size: 15px;
    }
    .style-modals .vs-column .price-row h6 img{
        width: 15px;
    }
    .success-message-icon p {
        font-size: 13px;
    }
    .check-winners-page .upcoming-matches-list .card-box .bottom-head .join-btn {
        padding: 0 4px;
    }
    .question-screen-page .queston-box h6 {
        font-size: 14px;
    }
    .question-screen-page .question-answer h4 {
        font-size: 16px;
    }
    .question-screen-page .queston-box span {
        font-size: 10px;
    }
    .question-screen-page .options a {
        line-height: 46px;
        font-size: 13px;
    }
    .rankbreakup-modal .modal-dialog {
    width: calc(100% - 30px);
}

.contactus-page .featured-image {
        height: 170px;
    }
    .contactus-page .contents h5 {
        font-size: 15px;
        line-height: 22px;
        padding-right: 0;
    }
    .contactus-page .contents {
        padding: 30px 10px 80px;
    }
    .contactus-page .contents h1 {
        margin: 0 0 20px;
    }
    .copyright-footer p {
        font-size: 11px;
    }
}

@-moz-document url-prefix() { 
    @media (max-width:359px) {
        
    }
}