* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.predguru-points ol li span {
	color: #fff !important;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 11px;
	padding-left:0px;
}
/********* Scroll Track Design **********/
::-webkit-scrollbar {
	width: 5px
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px
}

::-webkit-scrollbar-thumb {
	background: #fff;
	border-radius: 10px
}

::-webkit-scrollbar-thumb:hover {
	background: #fff
}

.progress-track {
	height: 4px;
	width: 100%;
	background: #d4d4d4;
	position: relative;
}

.progress-track #progressbar {
	background: #ff342d;
	height: 4px;
}

/******* Sidebar Menu ********/
.sidebarmenu {
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	max-width: 280px;
	height: 100%;
	bottom: 0;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	transition: 0.4s;
	opacity: 0;
	z-index: -8;
}

.sidebarmenu.open {
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	transform: translate(0, 0);
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	transition: 0.4s;
	opacity: 10;
	z-index: 99;
}

.sidebarmenu .close-btn {
	cursor: pointer;
	position: absolute;
	right: 15px;
	top: 10px;
}

.sidebarmenu .join-predguru {
	margin: -16px -16px 0;
	background: #1a3882;
	min-height: 115px;
	padding: 45px 15px 30px !important;
}

.sidebarmenu .join-predguru a {
	color: #000;
	font-weight: 600;
	border-radius: 22px;
	line-height: 44px;
	padding: 0 15px;
	display: inline-block;
	text-decoration: none;
	background: #fff;
	width: 100%;
	max-width: 180px;
	margin: 0 auto;
	font-size: 16px;
}

.sidebarmenu .close-btn img {
	width: 14px;
}

.sidebarmenu ul {
	margin: 20px -15px 0;
	padding: 0;
	list-style: none;
}

.sidebarmenu .aditionSpace {
	margin: 0 -15px 0;
}

.sidebarmenu ul li {
	position: relative;
	border-bottom: 1px solid #b2b2b2;
}

.sidebarmenu ul li a {
	display: inline-block;
	width: 100%;
	text-decoration: none;
	padding: 18px 0;
	font-size: 15px;
	color: #333333;
	font-weight: 600;
}

.sidebarmenu ul li a img {
	width: 18px;
	margin: 0 10px 0 15px;
}

header {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 9;
	background: #1b3983;
	padding: 15px 0;
}

header .hamburger-logo {
	width: 100%;
	padding: 0 0 0 28px;
}

header .hamburger-logo img {
	width: 20px;
	position: absolute;
	top: 2px;
	left: 15px;
	cursor: pointer;
}

header .hamburger-logo h6 {
	color: #fff;
	font-weight: 600;
	margin: 0 0;
	font-size: 18px;
}

header a {
	text-decoration: underline;
	text-transform: capitalize;
	color: #fff;
	font-size: 13px;
	display: inline-block;
	font-weight: 600;
}

header a:hover {
	color: #fff;
}

/******* Models *******/
.modal-dialog {
	max-width: 330px;
}

.modal-content {
	border-radius: 15px;
	border: 0;
}

.style-modals .modal-body {
	padding: 1.8rem 1rem 1.5rem;
}

.style-modals .close {
	position: absolute;
	top: -32px;
	right: 3px;
	padding: 5px;
	margin: 0 0;
	opacity: 1;
	outline: 0;
}

.style-modals .close span {
	text-shadow: none;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
}

.style-modals h3 {
	color: #1b3983;
	font-weight: 700;
	font-size: 22px;
	margin: 0 0 12px;
}

.style-modals p {
	margin: 0 0;
	color: #000;
	line-height: 20px;
}

.rankbreakup-modal {
	overflow-x: hidden;
	overflow-y: auto;
	background: rgba(0, 0, 0, 0.7);
}

.rankbreakup-modal .modal-dialog {
	margin: 30px auto;
/*	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) !important;
	width: 100%; 
*/
}

.rankbreakup-modal ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}

.rankbreakup-modal ul li {
display: inline-block;
    width: 100%;
    margin: 0 0 3px;
    padding: 9px 0;
}

.rankbreakup-modal ul li:nth-child(odd) {
	background: #f2f2f2;
}

.rankbreakup-modal ul li h6 {
	margin: 0 0;
	color: #000;
	font-weight: 700;
	font-size: 15px;
}

.rankbreakup-modal ul li h6, .rankbreakup-modal ul li h6 span {
    margin: 0 0;
    color: #000;
    font-weight: 700;
    font-size: 12px;
}

.rankbreakup-modal ul li h6 img {
width:14px;
}

.rankbreakup-modal ul li h6 .coin-pool {
	display: inline-block;
	width: 100%;
	max-width: 20px;
}

.style-modals .all-view-btn a {
	color: #000;
	font-weight: 600;
	text-decoration: underline;
	font-size: 14px;
}

.style-modals .vs-column .image-outer {
	display: inline-block;
	width: 100%;
	max-width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 5px;
}

.style-modals .vs-column span {
	font-size: 14px;
	color: #000;
	font-weight: 600;
}

.style-modals .vs-column h6 {
	font-size: 13px;
	margin: 0 0 10px;
}

.style-modals .vs-column .price-row h6, .style-modals .vs-column .price-row h6 span
	{
	font-size: 18px;
	margin: 0;
	font-weight: 700;
}

.style-modals .vs-column .price-row h6 img {
	margin-right: 3px;
}

/************ Progress Bar ************/
body {
margin: 0;
    padding: 0;
    overflow: auto!important;
    background: url('../images/webappbdg.jpg');
    height: 100vh;
    background-size: cover;
    overflow-x: hidden!important;
    font-family: 'Montserrat', sans-serif;
}

.app-wrapper-container {
	max-width: 360px;
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	position: relative;
	background-color: #1a3881;
	scrollbar-color: #eee transparent;
	scrollbar-width: none;
	background: url('../images/two-question-screen-bg.png') bottom center;
	background-repeat: no-repeat;
	background-size: cover;
}

main.app-wrapper-container.container-shadow:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(0 0 0/ 0.5);
	z-index: 9;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	transition: 0.4s;
}

.app-wrapper-container::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

.app-wrapper-container::-webkit-scrollbar {
	width: 2px;
	background-color: transparent;
}

.app-wrapper-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #eee;
}

.app-wrapper-container .mCSB_inside>.mCSB_container {
	margin-right: 0;
}

.app-wrapper-container .mCSB_scrollTools {
	width: 2px;
}

/* .intro-screen-bg {
    background: #1a3881;
} */
.pagination-and-skip .group-buttons {
	display: inline-block;
	font-size: 0;
	vertical-align: top;
}

.pagination-and-skip a {
	font-size: 15px;
	color: #fff;
	font-weight: 600;
	text-decoration: underline;
	float: right;
	margin: 0 0px 0 18px;
}

/****** Radio Button Custom Style *******/
.contain {
	display: inline-block;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.contain input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: transparent;
	border-radius: 50%;
	border: 1px solid #fff;
	font-size: 12px;
	text-align: center;
	color: #fff;
	line-height: 19px;
}

.contain input:checked ~ .checkmark {
	background-color: #ffffff;
	color: #000;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.contain input:checked ~ .checkmark:after {
	display: block;
}

.contain .checkmark:after {
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-radius: 50%;
	background: white;
}

/******** Landing Screen ********/
.ads {
	margin: 10px auto;
	width: 100%;
	max-width: 360px;
	display: block;
}

.ad {
	width: 100%;
	max-width: 360px;
	display: block;
	margin: 0 auto;
	text-align: center
}

.landing-screen {
	position: relative;
	height: 100vh;
}

.landing-screen .skip-btn {
    position: absolute;
    top: 4px;
    right: 12px;
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 600;
}

.landing-screen .logo {
	width: 100%;
    max-width: 180px;
    margin: 30px auto 20px;
    display: block;

}

.landing-screen .logo-name {
	width: 100%;
	max-width: 190px;
	margin: 0 auto 15px;
	display: block;
}

.landing-screen span {
    color: #fff;
    font-weight: 500;
    font-size: 14px;
}

.landing-screen h1 {
	color: #fff;
    font-size: 20px;
    font-weight: 700;
    margin: 20px 0 0;
    text-transform: inherit;
    line-height: 28px;
}
.landing-screen h1 img
{
	width: 36px;
    margin-right: 8px;
    vertical-align: bottom;
}

.landing-bottom-image {
    padding-bottom:40px;
}

.landing-bottom-image img {
	width:100%;
	max-width:360px;
	margin:0 auto;
	display:block;
}
.redirection-strip {
background: #0b1632;
    padding: 5px 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}
.landing-screen h1 span {
	color: #ffd303;
    font-size: 40px;
    font-weight: 900;
    line-height: 45px;
}

/********* Intro Two Questions *********/

/* .intro-two-questions {
    position: relative;
    background:url('../images/two-question-screen-bg.png') bottom center;
    background-repeat: no-repeat;
    background-size: cover;
} */
.intro-two-questions h1 {
	color: #fff;
	font-weight: 700;
	font-size: 12px;
	margin: 0 0 0;
}

.intro-two-questions h1 span {
	color: #ffd303;
	font-size: 13px;
}

.intro-two-questions span {
	color: #fff;
	font-weight: 700;
	font-size: 11px;
}

.intro-two-questions span img {
	width: 13px;
}

.intro-two-questions .pred-guru-logo {
	width: 100%;
	max-width: 80px;
}

.intro-two-questions .questions {
    margin: 10px auto 0;
}

.intro-two-questions .questions h4 {
	color: #ffd303;
	font-weight: 700;
	font-size: 16px;
	margin: 0 0 0;
	text-align: left;
}

.intro-two-questions .questions h4 span {
    color: #ffd303;
    font-weight: 700;
    font-size: 15px;
}

.intro-two-questions .questions .options {
display: block;
    padding: 15px 0;
    font-size: 0;
}

.intro-two-questions .questions .options a {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 5px 15px;
    background: #fff;
    color: #000;
    font-weight: 700;
    text-align: left;
    border-radius: 8px;
    margin: 0 auto 6px;
    text-decoration: none;
    overflow: hidden;
    max-width: 324px;
}

.intro-two-questions .questions .options a b {
	position: absolute;
	right: 12px;
	top: 9px;
	font-size: 14px;
	color: #000;
	z-index: 99;
	font-weight: 600 !important;
}

.intro-two-questions .questions .options a .percentage {
	width: 0%;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: #d8d8d8;
	z-index: 8;
}

.intro-two-questions .questions .options a span {
    font-size: 14px;
	z-index: 9;
	position: relative;
}

.winline {
	color: #fff;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 5px;
	text-align: center !important;
}

.intro-two-questions .questions .options .correct {
	background: #27bb0a;
}

.intro-two-questions .questions .options .wrong {
	background: #f11818;
}

.intro-two-questions .questions .options a:last-of-type {
	margin: 0 0 0;
}

.intro-two-questions .existing-user-text {
	position: relative;
	display: block;
	width: 100%;
	padding: 10px 15px;
	border-top: 1px solid #4c639d;
	border-bottom: 1px solid #4c639d;
	background-color: rgb(2 8 28/ 0.2);
	color: #fff;
	font-size: 14px;
}

.pred-matches-result {
	position: relative;
	display: block;
	width: 100%;
	padding: 10px 15px;
	background-color: rgb(2 8 28/ 0.2);
	border-radius: 12px;
	margin-top: -5px;
}

.pred-matches-result span {
	
}

.pred-matches-result h6 {
	color: #ffd303;
	font-weight: 700;
	font-size: 16px;
	margin: 0 0;
}

.pred-matches-result h6 img {
	margin-right: 4px;
	width: 14px;
}

.intro-two-questions .existing-user-text a {
	color: #fff;
	text-decoration: underline;
}

.intro-two-questions .predguru-points {
 padding: 25px 0 15px;
    position: relative;
}

.intro-two-questions .predguru-points h5 {
    color: #ffd303;
    font-weight: 700;
    font-size: 15px;
    margin: 0 0 15px;
    text-align: left;
    text-transform: capitalize;
}

.intro-two-questions .predguru-points h5 img {
    margin-right: 5px;
    width: 34px;
}

.intro-two-questions .predguru-points h5 .pred-guru-logo{
max-width: 60px;
    width: 100%;
    float: right;
    margin-top: -10px;
}

.intro-two-questions .predguru-points ul, .intro-two-questions .predguru-points ol
	{
	margin: 0;
	padding: 0;
	text-align: left;
	list-style: none;
	list-style-position: inside;
}

.intro-two-questions .predguru-points ul li, .intro-two-questions .predguru-points ol li
	{
font-size: 13px;
    color: #fff;
    margin: 0 0 8px;
    font-weight: 600;
    position: relative;
    padding-left: 13px;
    letter-spacing: -0.1px;
}

.intro-two-questions .predguru-points ul li span, .intro-two-questions .predguru-points ol li span
	{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 11px;
}

.intro-two-questions .footer-content h6 {
	color: #ffd303;
	font-weight: 700;
	font-size: 14px;
	margin: 0 0 15px;
}

.intro-two-questions .footer-content a img {
	width: 30px;
	margin: 0 5px;
}

/*********** Continue Page ***********/
.btn-round-style {
	display: inline-block;
	color: #000;
	font-weight: 700;
	background: #ffd303;
	border-radius: 8px;
	padding: 0 15px;
	line-height: 48px;
	text-align: center;
	width: 100%;
	max-width: 250px;
	margin: 12px auto 0;
	text-decoration: none;
}

.btn-round-style:hover {
	text-decoration: none;
	color: #000;
}

.continue-screen-page .back-btn-arrow a, .signup-page .back-btn-arrow a,
	.check-winners-page .back-btn-arrow a, .after-submit-pred-page .back-btn-arrow a
	{
	display: inline-block;
	width: 100%;
}

.continue-screen-page .back-btn-arrow img, .signup-page .back-btn-arrow img,
	.check-winners-page .back-btn-arrow img, .after-submit-pred-page .back-btn-arrow img
	{
	width: 15px;
	float: left;
}

.continue-screen-page .back-btn-arrow h5, .signup-page .back-btn-arrow h5,
	.check-winners-page .back-btn-arrow h5, .after-submit-pred-page .back-btn-arrow h5
	{
	color: #fff;
	font-weight: 700;
	margin: 0 0 0 20px;
	float: left;
}

.google-facebook-signin {
	padding: 80px 0 30px;
}

.privacy-policy-text {
	padding: 10px 20px 25px;
}
.privacy-policy-text a{
	    cursor: pointer;
}


.privacy-policy-text p {
	margin: 0 0;
	color: #fff;
	font-weight: 400;
	font-size: 15px;
}

.privacy-policy-text p a {
	color: #fff;
	text-decoration: underline;    
	cursor: pointer;
	
}

.google-facebook-signin a {
	border-radius: 12px;
	background: #fff;
	padding: 12px 15px;
	text-align: left;
	display: inline-block;
	color: #343434;
	font-weight: 700;
	width: 100%;
	max-width: 272px;
	text-decoration: none;
	margin: 7px auto;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}

.vs-column .anchor-text {
	font-size: 12px;
	color: #000;
	text-decoration: underline;
}

.google-facebook-signin a img {
	width: 35px;
	margin: 0 7px 0 0;
}

.continue-screen-page .card-box {
	border-radius: 12px;
	position: relative;
	background: #fff;
	padding: 20px 10px;
	margin: 0 auto 10px;
	position: relative;
	overflow: hidden;
}

.vs-column b {
	color: #193881;
	font-size: 20px;
}

.vs-column .image-outer {
	display: inline-block;
	width: 100%;
	max-width: 60px;
	height: 60px;
	border-radius: 50%;
	overflow: hidden;
	margin: 0 auto 5px;
}

.vs-column .image-outer img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.vs-column h6 {
	font-size: 15px;
	font-weight: 600;
	color: #000;
	margin: 0 0;
}

.ready-now-content h6 {
    font-weight: 600;
    font-size: 15px;
    margin: 0 0 5px;
}

.ready-now-content h5 {
    font-weight: 700;
    color: #f7740a;
    margin: 0 0 10px;
    font-size: 20px;
}

.ready-now-content h5 img{
    width: 24px;
    margin-right: 3px;
}

.ready-now-content .continue-btn {
background: url('../images/closebtn-bg.png') center no-repeat;
    background-size: cover;
    display: block;
    margin: 20px auto 20px;
}

.ready-now-content .continue-btn span{
font-weight: 600;
    color: #222;
    line-height: 60px;
    font-size: 20px;
    text-shadow: 2px 1px 1px #fff;
    text-align: center;
    color: rgba(5, 5, 5, 0.4);
    background: -webkit-gradient(linear, left top, right top, from(#ffd303), to(#ffd303), color-stop(0.5, #fff));
    background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
    -webkit-background-size: 125px 100%;
    -moz-background-size: 125px 100%;
    background-size: 75px 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 2s;
    -moz-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-color: #000;
}

.ready-now-content span{
color: #000000;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}

.continue-screen-page .points h3{
    color: #ffd71d;
    font-weight: 700;
    font-size: 18px;
    margin: 0 0 15px;
}

.continue-screen-page .points ul{
    margin:0;
    padding:0;
    list-style:none;
}

.continue-screen-page .points ul li{
    position: relative;
    font-size: 14;
    color: #fff;
    font-weight: 600;
    margin: 0 0 10px;
    padding-left: 18px;
    letter-spacing: 0;
}

.continue-screen-page .points ul li:before{
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #ffd71d;
}

.pred-match-now-ready .image-outer {
	position: absolute;
	top: 50%;
	left: 35px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.pred-match-now-ready .image-outer img {
	width: 40px;
}

.pred-match-now-ready h6 {
	color: #000;
	font-weight: 600;
	margin: 0 0;
	padding-left: 58px;
	font-size: 15px;
}

.pred-match-now-ready h6 img {
	width: 14px;
}

.contest-start-page .game-rules-btn {
	color:#fff;
}

.prediction-continue {
	width: 100%;
	max-width: 300px;
	margin: 0 auto;
}

.prediction-continue span {
	font-weight: 600;
	line-height: 22px;
	display: inline-block;
}

.prediction-continue p {
	color: #fff;
	margin: 0 0;
	font-size: 15px;
}

.prediction-continue-after-submit span {
	font-size: 18px;
	margin: 10px 0 12px;
}

.well-played img {
	width: 45px;
	margin: 0 auto 10px;
}

.well-played h5 {
	font-weight: 600;
	color: #fff;
	margin: 0 0;
}

/*********** Dashboard Page ***********/
.dashboard-page .predguru-more-coin img {
	width: 25px;
	display: inline-block;
	margin: -10px 6px 0 0;
}

.dashboard-page .predguru-more-coin h1 {
	display: inline-block;
	font-size: 28px;
	color: #fff;
	margin: 0;
}

.dashboard-page .predguru-more-coin span {
	display: inline-block;
	width: 100%;
}

.dashboard-page .predguru-more-coin span a {
	color: #ffe20a;
	font-weight: 500;
	text-decoration: underline;
	font-size: 14px;
}

.upcoming-matches-list {
	position: relative;
	padding: 12px 0;
}

.upcoming-matches-list .card-box .bottom-head .left-cols {
	flex: 0 0 39.333333%;
	max-width: 39.333333%;
}

.upcoming-matches-list .card-box .bottom-head .mid-cols {
	flex: 0 0 25.333333%;
	max-width: 25.333333%;
}

.upcoming-matches-list .title {
	color: #fff;
	font-weight: 500;
	text-align: center;
	font-size: 18px;
	margin: 0 0 15px;
}

.upcoming-matches-list .card-box {
	border-radius: 12px;
	background: #fff;
	padding: 10px;
	margin: 0 0 5px;
	max-width:100%;
	width:100%;
	overflow: hidden;
}

.upcoming-matches-list .colombiatracked, .upcoming-matches-list .colombiaSuccess{
    padding: 0!important;
    box-sizing: content-box;
    border-radius: 0;
    background: transparent;
}

.clmb-parent {
	margin:20px auto 0;
	width:100%;
	max-width:360px;
}

.upcoming-matches-list .card-box .top-head b {
	color: #000;
	font-size: 12px;
	line-height: 15px;
	display: inline-block;
}

.upcoming-matches-list .card-box .bottom-head small .active-sign {
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: #6cc658;
	display: inline-block;
	margin-right: 3px;
}

.upcoming-matches-list .card-box .top-head small {
	font-weight: 600;
}

.upcoming-matches-list .card-box .top-head small img {
	width: 20px;
}

.upcoming-matches-list .card-box .bottom-head small {
	font-size: 10px;
	color: #000;
	font-weight: 500;
}

.upcoming-matches-list .card-box .bottom-head small img {
	width: 10px;
}

.upcoming-matches-list .card-box .bottom-head .join-btn {
	border-radius: 6px;
	border: 1px solid #1b3983;
	font-size: 10px;
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	line-height: 27px;
	padding: 0 12px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
}
.upcoming-matches-list .card-box .bottom-head .join-btn[disabled] {
	pointer-events:none;
	opacity:0.7;
}

.upcoming-matches-list .card-box .mid-content .image-outer {
	width: 50px;
	height: 50px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
}

.upcoming-matches-list .card-box .mid-content .image-outer img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.upcoming-matches-list .card-box .mid-content h6 {
	color: #000;
	font-weight: 700;
	font-size: 12px;
}

.upcoming-matches-list .card-box .mid-content .right-cols small {
font-size: 10px;
    color: #000;
    font-weight: 600;
    line-height: 15px;
    display: inline-block;
}

.upcoming-matches-list .card-box .mid-content .right-cols h6,
	.upcoming-matches-list .card-box .mid-content .right-cols h6 span {
	color: #1b3983;
	font-size: 15px;
	margin: 0 0;
}


.upcoming-matches-list .card-box .mid-content .right-cols h6 img {
	width: 16px;
	margin-right: 5px;
}

.upcoming-matches-list .card-box .mid-content .right-cols a {
	font-size: 11px;
	text-decoration: underline;
	color: #000;
	cursor:pointer;
}

.contest-start-page .vs-column {
	background-color: transparent;
}

.contest-start-page .vs-column h6 {
	color: #fff;
}

.contest-start-page .vs-column b {
	color: #fff;
}

.contest-start-page .btn-round-style {
	line-height: 22px;
	padding: 8px 15px;
}

.contest-start-page .prediction-continue p {
	font-size: 16px;
}

.contest-start-page .start-pred-btn {
	background-color: #fff;
}

.contest-start-page .card-box .price-money-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.contest-start-page .card-box .price-money-list li {
	font-weight: 600;
	color: #000;
	margin: 14px 0;
	background: url(../images/right-bullet-icon.png) 0 4px;
	background-size: 15px;
	background-repeat: no-repeat;
	padding-left: 30px;
	font-size: 16px;
}

.contest-start-page .card-box .price-money-list li small {
	font-weight: 600;
	color: #000;
	font-size: 16px;
}

.contest-start-page .card-box .price-money-list li:first-child {
	margin-top: 0;
}

.contest-start-page .card-box .price-money-list li:last-child {
	margin-bottom: 0;
}

.coin-entry-content h5, .coin-entry-content h5 small {
	font-size: 16px;
	color: #000;
	font-weight: 600;
	margin: 20px 0 20px;
}

.coin-entry-content h5 img {
	margin-right: 4px;
}

.coin-entry-content small {
	font-size: 14px;
	color: #000;
	display: inline-block;
	padding: 0 0;
}

.freeentry-page .pred-start-btn {
	border-radius: 12px;
	border: 1px solid #1b3983;
	color: #000;
	font-weight: 600;
	padding: 0 15px;
	line-height: 40px;
	display: inline-block;
	font-size: 14px;
	text-transform: uppercase;
	min-width: 200px;
	margin: 20px auto 0;
	text-decoration: none;
}

.freeentry-page .game-rules-btn {
	color: #fff;
	font-size: 14px;
	text-decoration: underline;
}

#ourpointsystem h3 {
	margin: 0 0 5px;
	text-align: center;
}

#ourpointsystem p {
	font-size: 14px;
	text-align: center;
	font-weight: 500;
}

#ourpointsystem .text-medium {
	font-size: 13px;
	text-align: center;
	display: block;
	font-weight: 500;
	color: #000;
	margin: 12px 0 0;
}

#ourpointsystem .ourpoint-tables {
	font-size: inherit;
}

#ourpointsystem .ourpoint-tables li .left-content {
	font-size: 11px;
	padding: 0 10px;
	color: #000;
	font-weight: 500;
}

#ourpointsystem .ourpoint-tables li .right-content {
	padding-right: 10px;
}

#ourpointsystem .ourpoint-tables li .right-content small {
	text-align: center;
	display: block;
	font-size: 9px;
	color: #1b3983;
	font-weight: 700;
}

.after-submit-pred-page .vs-column {
	border-radius: 12px;
	background: #fff;
	padding: 10px 0;
}

.after-submit-pred-page .title {
	font-size: 13px;
	text-align: left;
	margin: 0 0 12px;
}

.success-message-icon {
	position: relative;
}

.success-message-icon img {
	width: 100%;
	max-width: 35px;
	margin-right: 15px;
}

.success-message-icon p {
	margin: 0;
	font-size: 15px;
	color: #fff;
	font-weight: 500;
}

.check-winners-page .upcoming-matches-list .card-box .bottom-head .join-btn
	{
	font-size: 8px;
	padding: 0 7px;
}

.question-screen-page .queston-box {
	background: #f5f5f5;
	padding: 20px 15px;
}

.question-screen-page .queston-box h6, .question-screen-page .queston-box h6 small
	{
	font-size: 15px;
	color: #000;
	margin: 0 0;
	font-weight: 500;
	line-height: 50px;
}

.question-screen-page .queston-box span, .question-screen-page .queston-box span small
	{
	font-size: 12px;
	color: #000;
	font-weight: 600;
	margin: 0 0;
}

.question-screen-page .question-answer {
	padding: 30px 0 40px;
}

.question-screen-page .question-answer h4 {
	font-size: 19px;
	color: #1b3983;
	font-weight: 700;
	margin: 0 0;
}

.question-screen-page .options {
	
}

.question-screen-page .options a {
	display: inline-block;
	width: 100%;
	border-radius: 10px;
	padding: 0 15px;
	background: #fff;
	font-weight: 600;
	color: #000;
	margin: 0 0 15px;
	box-shadow: 2px 2px 1px #e1e1e1;
	font-size: 14px;
	text-decoration: none;
	cursor: pointer;
}

.question-screen-page .active-users {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}

.question-screen-page .active-users h6 {
	display: inline-block;
	font-size: 14px;
}

.question-screen-page .active-users .active-sign {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #6cc658;
	margin-right: 5px;
}

.question-screen-page .bottom-info {
	background: #f5f5f5;
	padding: 22px 15px 15px;
	position: relative;
	width:100%
}

.question-screen-page .bottom-info span {
	font-size: 16px;
	color: #1b3983;
	font-weight: 700;
	background: #f5f5f5;
	border-radius: 12px 12px 0 0;
	padding: 6px 15px;
	position: absolute;
	top: -23px;
	left: 0;
	right: 0;
	width: 120px;
	margin: 0 auto;
}

.question-screen-page .bottom-info p {
	color: #282828;
	font-size: 12px;
	font-weight: 700;
	margin: 0 0;
}

#afterselect .modal-footer {
	border-radius: 0 0 15px 15px;
	overflow: hidden;
}

#afterselect .options {
	
}

#afterselect .options span {
	font-size: 12px;
	font-weight: 500;
	color: #000;
	display: inline-block;
	margin: 0 0 12px;
}

#afterselect .options a {
	display: inline-block;
	width: 100%;
	border-radius: 10px;
	padding: 0 15px;
	background: #fff;
	line-height: 50px;
	font-weight: 600;
	color: #000;
	margin: 0 0 15px;
	box-shadow: 2px 2px 1px #f1f1f1, inset 0 0 2px #ccc;
	font-size: 14px;
	text-decoration: none;
	text-align: left;
}

#afterselect .options .correct {
	background: #39af15;
}

#afterselect .options .gray {
	background: #e1e1e1;
}

#afterselect .proceed-next-btn {
	margin: 0 -16px;
}

#afterselect .proceed-next-btn a {
	background: #1b3983;
	color: #fff;
	text-align: center;
	border-radius: 0;
	line-height: 40px;
	display: inline-block;
	width: 100%;
	font-weight: 500;
	font-size: 15px;
}

.progress-valuenew {
	animation: load 2s normal forwards;
	border-radius: 8px;
	background: #e1e1e1;
	height: 40px;
	width: 0;
	font-size: 17px;
	font-weight: 500;
	color: #000;
	padding: 5px 0 5px 21px;
}

.progressnew {
	background: #fff;
	justify-content: flex-start;
	border-radius: 8px;
	align-items: center;
	position: relative;
	display: flex;
	height: 40px;
	width: 240px;
	box-shadow: 2px 2px 4px #c3c3c3;
	margin: 13px auto;
}

.progress {
	background: #fff;
	justify-content: flex-start;
	border-radius: 8px;
	align-items: center;
	position: relative;
	display: flex;
	height: 40px;
	width: 300px;
	box-shadow: 2px 2px 4px #c3c3c3;
	margin: 13px auto;
}

.progress-value {
	word-break: break-all;
	white-space: nowrap;
	animation: load 2s normal forwards;
	border-radius: 8px;
	background: #39af15;
	height: 100%;
	width: 0;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	padding: 0 0 0 15px;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 40px;
}

.popsmall {
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	color: #000;
}

#popup1 {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 9;
	padding: 15px;
	display: none;
	max-width: 360px;
	margin: 0 auto;
	right: 0;
}

#popup1 #matchPop {
	background: #fff;
	padding: 15px 0;
	border-radius: 15px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: calc(100% - 30px);
}

#popup1 .content {
	padding: 0 15px;
}

#matchPop .qproc a {
	background: #1b3983;
	color: #fff;
	text-align: center;
	border-radius: 0;
	line-height: 40px;
	display: inline-block;
	width: 100%;
	font-weight: 500;
	font-size: 15px;
}

#popup1 .funfact-text {
padding:15px 15px 8px;
}
#popup1 .funfact-text h4{
color: #1b3983;
    font-size: 17px;
    font-weight: 600;
    margin: 0 0 4px;
    text-align:left;
}
#popup1 .funfact-text p{
font-size: 14px;
    color: #000;
    font-weight: 501;
    margin: 0;
}
#matchPop .percentage {
	position: absolute;
	right: 10px;
	top: -5px;
	color: #000;
	font-weight: 500;
	z-index: 9;
}
.intro-two-questions .funfact-text{
    padding: 0 0 8px;
    margin: 0 auto 15px;
}
.intro-two-questions .funfact-text h4 {
    color: #ffd303;
    font-size: 16px;
    margin: 0 0 4px;
    font-weight: 600;
    text-align: center;
}
.intro-two-questions .funfact-text p {
color: #fff;
    font-size: 13px;
    margin: 0;
}
#matchPop .block-row {
	display: inline-block;
	width: 100%;
	border-radius: 10px;
	padding: 0 0;
	background: #fff;
	line-height: 50px;
	font-weight: 600;
	color: #000;
	margin: 0 0 15px;
	box-shadow: 2px 2px 1px #f1f1f1, inset 0 0 2px #ccc;
	font-size: 14px;
	text-decoration: none;
	text-align: left;
	position: relative;
}

.progress-valuenew {
	word-break: break-all;
	white-space: nowrap;
	animation: load 2s normal forwards;
	border-radius: 8px;
	background: #e1e1e1;
	height: 100%;
	width: 0;
	font-size: 14px;
	font-weight: 500;
	color: #000;
	padding: 0 15px;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 40px;
}

.winner {
	margin-bottom: 10px;
	margin-top: -10px;
}

.winner-box {
	background: #fff;
	border-radius: 8px;
	padding: 10px 20px;
	padding-bottom: 0px;
	width: 100%;
	margin: 15px;
	margin-bottom: -5px;
}

.winner-box ul {
	margin-bottom: 0.6rem !important;
}

.winner-box ul li .winner-img {
	width: 60px;
	height: 60px;
}

.winner-box ul {
	display: flex;
}

.winner-box ul li {
	margin: auto 15px auto 0;
}

.winner-box ul li .image-outer {
	float: left;
	width: 100%;
	max-width: 55px;
	height: 55px;
	border-radius: 50%;
	overflow: hidden;
}

.winner-box ul li .image-outer img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.winner-box ul li:nth-child(3) {
	line-height: 10px;
	position: relative;
	top: 8px;
}

.winner-box ul li:nth-child(3) h6 {
	font-weight: 600;
}

.winner-box ul li:nth-child(3) p {
	font-weight: 600;
}

.winner-box ul li:nth-child(1) {
	font-size: 14px;
	font-weight: 600;
}

.winner-fixed-box {
	background: #193881;
	width: 100%;
	position: fixed;
	bottom: 0px;
	max-width: 360px;
	z-index: 999;
}

.winner-fixed-box ul {
	display: flex;
}

.winner-fixed-box ul li {
	padding: 0px 20px;
	position: relative;
	top: 10px;
}

.winner-fixed-box ul li:nth-child(2) {
	padding: 0px 5px;
}

.winner-fixed-box ul li {
	margin: auto 0px auto 0;
}

.winner-fixed-box ul li .winner-img {
	width: 60px;
	height: 60px;
}

.winner-fixed-box ul li span {
	font-size: 20px;
	font-weight: 400;
}

.winner-fixed-box ul li img {
	width: auto;
}

.winner-box ul li p small {
	font-size: 15px;
	color: #000;
	font-weight: 500;
}

span.coin-color {
	color: gold;
}

.back-btn-arrow span {
	color: #fff;
	font-size: 20px;
	font-weight: 500;
	position: relative;
	top: -33px;
	left: 30px;
}

.back-btn-arrow {
	padding-top: 15px;
}
/* Coin Earning Page */
.coin-earning {
	background: #fff;
	border-radius: 16px;
	padding: 15px;
	margin: 10px;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.coin-earning p {
	line-height: 0px;
	padding-left: 10px;
}

.earning-bal {
	font-size: 16px;
	font-weight: 500;
}

.earning-coin {
	font-size: 24px;
	font-weight: 800;
}

ul.cont-tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.cont-tabs li {
	background: none;
	color: #000;
	display: inline-block;
	padding: 10px 20px;
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
}

ul.cont-tabs li.current {
	color: #ffd303;
	border-bottom: 2px solid #ffd303;
	font-weight: 600;
	font-size: 12px;
}

.tab-content {
	display: none;
	background: #fff;
	padding: 0px;
	padding-top: 30px;
}

.tab-content.current {
	display: inherit;
}

.coin-earning-tab {
	display: flex;
	border-bottom: 1px solid #e5e5e5;
}

.coin-bonus {
	font-size: 15px;
	font-weight: 600;
}

.coin-time {
	font-size: 12px;
}

.coin {
	font-weight: bold;
}

.coin-earn-tab {
	margin-top: 0px;
}

.rules-page .back-btn-arrow {
	background: #1b3881;
	overflow: hidden;
}

.rules-page .prediction-rules {
	position: relative;
	margin: 20px 0 0;
}

.rules-page .prediction-rules h5 {
	font-size: 18px;
	color: #000;
	font-weight: 700;
}

.rules-page .prediction-rules ol {
	list-style-position: inside;
	margin: 15px 0 15px;
}

.rules-page .prediction-rules ol li {
	font-size: 15px;
	color: #000;
	font-weight: 500;
	margin: 0 0 13px;
}

.rules-page .prediction-rules p {
	font-size: 15px;
	color: #000;
	font-weight: 500;
	margin: 10px 0;
}

.rules-page .prediction-rules p a{
	color:#1b3881;
	text-decoration: underline;
}

/* Sign up*/
.abcRioButton,
.loginBtn {
    height: auto !important;
    width: 100% !important;
    max-width: 280px;
    margin: 5px auto 5px;
    padding: 10px 15px !important;
    border-radius: 12px !important;
    background: #fff !important;
    text-align: left !important;
    position: relative;
    line-height: 34px;
    padding-left: 58px!important;
    border: 0!important;
}

.abcRioButton{
	padding-left: 54px!important;
}

.abcRioButton svg{
left: 14px!important;
    top: 11px!important;
}

.abcRioButtonContentWrapper .abcRioButtonIcon{
	padding:0!important;
}
.abcRioButtonContents {
	padding:0!important;
}
.abcRioButtonContentWrapper .abcRioButtonSvgImageWithFallback {
	height:0!important;
	width:0!important;
}

.abcRioButton svg ,
.loginBtn img{
    height: 35px;
    width: 35px!important;
    position: absolute;
    top: 10px;
    left: 14px;
}
/*
.abcRioButtonSvg {
	display: block;
	height: 35px;
	width: 35px;
	position: relative;
	top: -7px;
	left: -8px;
}
*/
/*.fb_iframe_widget {
	display: inline-block;
	position: relative;
	background: #fff;
	width: 83%;
	padding: 16px 15px;
	border-radius: 12px;
	margin-bottom: 10px;
}*/
/*
#test span img {
	width: 36px;
	position: relative;
	left: -10px;
}*/

/*.loginBtn {
	background: none !important;
	margin-bottom: 10px !important;
	margin-top: 10px !important;
	border: none !important;
}
*/
/*#test span {
	background: #fff;
	width: 270px;
	padding: 12px 15px;
	border-radius: 12px;
	padding-left: 0px;
}*/
/*
@media screen and (min-width: 0px) and (max-width:567px) {
	#test span {
		width: 275px;
	}
}
@media screen and (min-width: 410px) and (max-width:415px) {
	#test span {
		width: 315px;
	}
}
@media screen and (min-width: 319px) and (max-width:325px) {
	#test span {
		    width: 242px;
            padding-left: 15px;
	}
}
@media screen and (min-width: 370px) and (max-width:380px) {
	#test span {
		    width: 288px;
	}
}*/
@media screen and (min-width: 0px) and (max-width:567px) {
	.modal-dialog {
        max-width: 100% !important;
    }
    .question-screen-page h6
    {
    font-size:12px !important;
    }
}

.coin span {
	color: #000;
}

.earning-coin span {
	font-size: 22px;
	color: #000 !important;
	padding-left: 8px;
}

.coin-bonus {
	line-height: 15px !important;
}

.mid-cols small {
	padding-left: 5px !important;
}

.intro-sell {
	color: #fff;
	font-size: 12px;
}

.sell-my-info {
	position: absolute;
	bottom: 10px;
	text-align: center;
	left: 0px;
	font-size: 14px;
	font-weight: 500;
}

.sell-my-info a {
	color: #000;
	text-decoration: underline;
}

.intro-sell a {
	color: #fff;
	text-decoration: underline;
}
/* Do-Not-Sell*/
.sell {
	background: #fff;
	border-radius: 16px;
	margin: 10px;
	padding: 5px;
	margin-top: -20px;
	padding-bottom: 30px;
}

.sell h4 {
	color: #1b3981;
	font-size: 16px;
	font-weight: 700;
	padding-top: 15px;
}

.sell a {
	color: #1b3981;
	text-decoration: underline;
	font-weight: 700;
}

.sell p {
	font-size: 14px;
	font-weight: 500;
	padding: 15px;
	padding-bottom: 5px;
	margin-bottom: 0px;
}

.opt {
	margin-top: 30px;
}

.out {
	color: #000 !important;
	font-size: 16px !important;
	font-weight: 600 !important;
	text-decoration: none !important;
	margin-top: 20px;
	border: 1px solid gray;
	border-radius: 8px;
	padding: 10px 80px;
}
.rank-colse .closes
{
     color: #fff;
      position: absolute;
      right: 5px;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1;
      cursor: pointer;
      top: -30px;
}
.pred-question
{
width:100% !important
}

 .contactus-page {
    position: relative;
}
.contactus-page .featured-image {
    width: 100%;
    height: 200px;
    background: url(../images/contactus-featured.png) no-repeat top right;
    background-size: cover;
}
.contactus-page .featured-image .logo img{
    width: 90px;
}
.contactus-page .contents {
    padding: 30px 10px;
}
.contactus-page .contents h1 {
    font-weight: 700;
    font-size: 28px;
    margin: 0 0 30px;  
}
.contactus-page .contents p {
    font-weight: 500;
    font-size: 15px;
    color: #020202
}
.contactus-page .contents p a {
    color: #008cac;
    text-decoration: none;
}
.contactus-page .contents h5 {
    font-weight: 600;
    color: #181818;
    font-size: 17px;
    line-height: 28px;
    padding-right: 21px;
}
.contactus-page .contents h5 a {
    color: #008cac;
    text-decoration: none;
}
.copyright-footer {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background-color: #dfdfdf;
    padding: 15px 25px;
    max-width: 360px;
    margin: 0 auto;
    width:100%;
}
.copyright-footer p{
    font-size: 13px;
    color: #020202;
    font-weight: 600;
    margin: 0;
}


@-moz-document url-prefix() {
  .footer-content {
   min-height: 100px;
  }
}

#ploader{
position:fixed;display:none;top:0;left:0;width:100%;height:100%;z-index:99;background:#15337b
}

#loading-bar-spinner.spinner {
    left: 50%;
    margin-left: -20px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 400ms linear infinite;
}

#loading-bar-spinner.spinner .spinner-icon {
    width: 40px;
    height: 40px;
    border:  solid 4px transparent;
    border-top-color:  #fff !important;
    border-left-color: #fff !important;
    border-radius: 50%;
}

@keyframes loading-bar-spinner {
  0%   { transform: rotate(0deg);   transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

#backButtonClick {
    cursor:pointer;
}

.confirmgotoback-modalstyle .close{
    position: absolute;
    right: 6px;
    top: -24px;
    opacity: 1;
    color: #fff;
    font-size: 20px;
    text-shadow: none;
}

.confirmgotoback-modalstyle .close:focus{
outline:0;
}

.modal-content {
    position:relative;
}

.confirmgotoback-modalstyle .modal-body {
padding: 3rem 1rem;
}

.confirmgotoback-modalstyle h4 {
    font-size: 17px;
    color: #000;
    font-weight: 600;
    margin: 0 0 15px;
}

.confirmgotoback-modalstyle .confirm-btn {
    border: 0;
    background: #123686;
    color: #fff;
    border-radius: 6px;
    padding: 0 15px;
    min-width: 120px;
    line-height: 46px;
    font-weight: 600;
    margin: 10px 2px 0;
}

.confirmgotoback-modalstyle .confirm-btn.transparent {
    background: transparent;
    color:#000;
}

.confirmgotoback-modalstyle .confirm-btn:focus {
    outline:0;
    outline-offset:0;
}

#loaderScreen{
	position:fixed;
	top:0;
	z-index:99;
	display:none;
	left:0;
	width:100%;
	height:100%;
	background:#1d3574;
}

.shimmer {
	font-size: 3em;
	margin: 0 auto;
	display: inline-block;
	width: 100%;
	margin-bottom: 0;
}

.shimmer {
	text-align: center;
	color: rgb(255 255 255/ 0%);
	background: -webkit-gradient(linear, left top, right top, from(#fff548),
		to(#fff548), color-stop(0.5, #fff));
	background: -moz-gradient(linear, left top, right top, from(#222),
		to(#222), color-stop(0.5, #fff));
	background: gradient(linear, left top, right top, from(#222), to(#222),
		color-stop(0.5, #fff));
	-webkit-background-size: 125px 100%;
	-moz-background-size: 125px 100%;
	background-size: 125px 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	-webkit-animation-name: shimmer;
	-moz-animation-name: shimmer;
	animation-name: shimmer;
	-webkit-animation-duration: 2s;
	-moz-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: #222;
}

@-moz-keyframes shimmer {
	0% {
	background-position: top left;
}

100%
{
background-position:top right;
}

}
@-webkit-keyframes shimmer { 0% {
	background-position: top left;
}

100%
{
background-position:top right;
}
}
@-o-keyframes shimmer {
	0% {
	background-position: top left;
}

100%
{
background-position:top right;
}
}
@keyframes shimmer {
	0% {
	background-position: top left;
}

100%
{
background-position:top right;
}
}

#myModal .modal-content,
#ourpointsystem .modal-content{
	padding-bottom:12px;
}

.sq_ad_1 {
    width: 350px;
	height: 350px;
    text-align: center;
    margin: 0 auto;
}
.dh_ad_1 {
    width: 320px;
	height: 100px;
    text-align: center;
    margin: 0 auto;
}

._330_50_ad {
	display: inline-block;
    width: 330px;
    height: 50px;
	margin: 0 auto;
}

._360_50_ad {
    display: inline-block;
    width: 360px;
    height: 50px;
	margin: 0 auto;
}

.dh_ad_2 {
    width: 330px;
    height: 50px;
    text-align: center;
    margin: 0 auto;
}