<!doctype html>
<html lang="en">

 <head th:replace="fragments/header :: header"></head>
 
  <body>
   <table>
  
    <main class="app-wrapper-container intro-screen-bg">

     <!-- <div class="ads px-2"><img th:src="@{/images/big-ads-placement.jpg}" alt="" class="w-100"></div>-->
      <section class="intro-two-questions py-2">
        <div class="container">
        <div class="row align-items-center d-flex">
        <div class="col-8 text-left">
          <h1>Upcoming Match <span>(IND vs AUS)</span></h1>
              <span>Play 2 sample questions & win <img th:src="@{/images/small-coins-icon.png}" alt="">  50</span>
              </div>
              <div class="col-4 pl-0 text-right">
              <img th:src="@{/images/logo.png}" alt="" class="pred-guru-logo">
              </div>
        </div>
          <div class="row">
          
              <div class="col-12 text-center">
              
              <div class="questions" th:each="count,iterator: ${questionList}" th:unless="${iterator.index > 1}">
                   <div th:id="${iterator.index+1}">                   <h4>
				Q.<span th:text="${iterator.index+1}" th:id="size">1</span>/<span id="questionSize">2</span> - <span th:text="${count.question}"></span> </h4>
 
                <div class="options">   
            	<a  id="optionA"><span style="color:black;" th:text="${count.optionA}"></span></a>
             	<a   id="optionB" ><span style="color:black;" th:text="${count.optionB}"></span></a>
                </div>
              </div>
              </div>
              <div class="pred-matches-result text-center">
              		<span>Pred Match Results & Win Coins</span>
              		<h6><img th:src="@{/images/small-coins-icon.png}" alt="">50,000 up for grabs</h6>
              </div>
              <!-- <div class="row">
                <div class="existing-user-text">Are you an existing user? <a th:href="@{/signup}">Login Here</a></div>
              </div> -->
              <div class="predguru-points text-center">
                <h5><img th:src="@{/images/coins.png}" alt=""> How To Win Coins?</h5>
                <ol>
                  <li><span>1.</span>Join your favourite Contests.</li>
                  <li><span>2.</span>Use your game knowledge to Predict outcome.</li>
                  <li><span>3.</span>Win Coins.</li>
                  <li><span>4.</span>Use Coins to Enter the Contests.</li>
                </ol>
              </div>
              <div class="footer-content pt-1 pb-4">
                <h6>Connect with us</h6>
                <a href="javascript:void(0);"><img th:src="@{/images/facebook-icon-fb.png}" alt=""></a>
                <a href="javascript:void(0);"><img th:src="@{/images/insta-icon-fb.png}" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>
    
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="/js/3.5.1-jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
   <script type="text/javascript">


     str = window.location.href.split("=");
     var introB =  localStorage.getItem("introQBack");
     if(introB == "back"){
      	 localStorage.removeItem("introQBack");
      	 window.location.href = subdomain+'/';
      }
      
      $(".questions #2").hide();
      $("#1 #optionA").click(function() {
             $("#1 #optionA").addClass("correct");
      setTimeout(function(){
        $(".questions #1").hide();
                $(".questions #2").show();
                }, 500);
        

     });
      $("#1 #optionB ").click(function() {
        $("#1 #optionB").addClass("correct");
              setTimeout(function(){
        
        $(".questions #1").hide();
        
                $(".questions #2").show();
           }, 500);
     });
     
      $("#2 #optionA").click(function() {
              $(" #2 #optionA ").addClass("correct");
    		  window.location.href = subdomain+'/intro/success?num=null';
     });
     
     $(" #2 #optionB ").click(function() {
             $(" #2 #optionB").addClass("correct");
    		  window.location.href = subdomain+'/intro/success?num=null';

     });




   	</script>
   	      <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
   	
  </body>
</html>