<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!--<meta name="google-signin-scope" content="profile email">-->
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
	<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
	<!-- production id -->    
	<meta name="google-signin-client_id" content="894483981938-lafen4c7n4414kg37835ihvpossu051e.apps.googleusercontent.com">
	<!-- added fab icon -->
	 <link rel="icon" type="image/png" href="images/logo.png"/>
	<!-- localhost id -->
	<!--<meta name="google-signin-client_id" content="538170301523-skqf1nqdlr32hm03odvaad4nt28png2l.apps.googleusercontent.com">-->

    <script src="https://apis.google.com/js/platform.js" async defer></script>
	<script th:src="@{/js/google-signin.js}"></script>
	<script th:src="@{/js/fb-login.js}"></script>
	
<title>Predguru | signup</title>
<meta charset="UTF-8">
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css?version=2}">
    <link rel="stylesheet" th:href="@{/css/responsive.css?version=2}">
    <title>PredGuru</title>
    <style>
    .intro-two-questions span {
      display: inline-block;
    color: #343434 !important;
    font-weight: 700;
      padding-left: 4px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

    </style>
</head>

<script type="text/javascript">
	var subdomain = ""; 
	if(window.location.hostname == "103.94.108.147"){
		var subdomain = "/pred";	
	}
	
	function goBack() {
		window.history.back();
	}
	
</script>
<body>


<!-- The JS SDK Login Button -->

 <main class="app-wrapper-container intro-screen-bg signup-page">

      <section class="intro-two-questions py-2 h-100">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <div class="back-btn-arrow py-2 mb-2 text-left" onclick="goBack();">
                <img th:src="@{/images/left-arrow-angle.png}" alt="">
                <h5>Join PREDGURU </h5>
              </div>
         
              <div class="text-center google-facebook-signin" >
             
              	<div id="gmail-login"></div>
              	<div> <button class="loginBtn loginBtn--facebook" id="test">
		            <span><img th:src="@{/images/signin-facebook-icon.png}" alt=""> Login with Facebook</span>
		        </button></div>
				 
                <!--  <a href="javascript:void(0);"> <img src="images/signin-google-icon.png" alt=""> Sign in with Google</a>
                <a href="javascript:void(0);"> <img src="images/signin-facebook-icon.png" alt=""> Continue with Facebook</a>-->
              </div> 
              <div class="w-100 text-center privacy-policy-text">
                <p>By continuing, you agree to our <a  class="privacyLinkRedirect">Privacy Policy</a> & <a class="termsAndConditionLinkRedirect">Terms of use</a></p>
              </div><!-- href="javascript:void(0)" -->
              <div class="predguru-points text-center">
                <h5>How does PREDGURU work:</h5>
                <ol>
                  <li><span>1.</span> Sign up on Predguru.</li>
                  <li><span>2.</span> Join your favourite Contests.</li>
                  <li><span>3.</span> Use your game knowledge to Predict outcome.</li>
                  <li><span>4.</span> Win Coins.</li>
                  <li><span>5.</span> Use coins to Enter the Contests.</li>
                </ol>
              </div>
              <div class="footer-content pt-1 pb-4">
                <h6>Connect with us</h6>
               <!--  <a href="javascript:void(0);"><img th:src="@{/images/facebook-icon-fb.png}" alt=""></a> -->
                <a  href="https://www.instagram.com/gopredguru?r=nametag"><img th:src="@{/images/insta-icon-fb.png}" alt=""></a>
              </div>
            </div>
          </div>
        </div>
		<div id="myModal" class="modal fade" tabindex="-1">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<p id="error-msg"></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Ok</button>
					</div>
				</div>
			</div>
		</div>
      </section>
   <script>
    /* document.getElementById('test').addEventListener('click', function() {	
        //do the login
        FB.login(statusChangeCallback, {scope: 'email,public_profile', return_scopes: true});
    }, false); */
    
     document.getElementById('test').addEventListener('click', function() {
		//alert("Hello");
        //do the login
        FB.login(statusChangeCallback, {scope: 'email,public_profile', return_scopes: true});
    }, false); 
    
	$('.privacyLinkRedirect').click(function(){
		var countryCode=localStorage.getItem("country_code");
		if(countryCode=='IN'){
			window.location.href="https://predguru.com/privacy.html";
		}
		else{
			window.location.href="https://predguru.com/privacy-us.html";
		}
	})
		
	$('.termsAndConditionLinkRedirect').click(function(){
		var countryCode=localStorage.getItem("country_code");
		if(countryCode=='IN'){
			window.location.href="https://predguru.com/terms.html";
		}
		else{
			window.location.href="https://predguru.com/terms-us.html";
		}
	})
    </script>
</body>
<!-- </html>
    <script>
    
    </script>
</body> -->
</html>
