<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<meta name="google-signin-scope" content="profile email">
	<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
	<!-- production id -->    
	<meta name="google-signin-client_id" content="894483981938-lafen4c7n4414kg37835ihvpossu051e.apps.googleusercontent.com">

	

	<!-- localhost id -->
	<!--<meta name="google-signin-client_id" content="538170301523-skqf1nqdlr32hm03odvaad4nt28png2l.apps.googleusercontent.com">-->

    <script src="https://apis.google.com/js/platform.js" async defer></script>
<title>Predguru | signup</title>
<meta charset="UTF-8">
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css?version=2}">
    <link rel="stylesheet" th:href="@{/css/responsive.css?version=2}">
    <title>PredGuru</title>
    <style>
    .intro-two-questions span {
      display: inline-block;
    color: #343434 !important;
    font-weight: 700;
      padding-left: 4px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

    </style>
</head>

<script type="text/javascript">
	var subdomain = ""; 
	if(window.location.hostname == "103.94.108.147"){
		var subdomain = "/pred";	
	}
	
	function goBack() {
		window.history.back();
	}
	
</script>


<script>

  function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
    //console.log('statusChangeCallback');
    //console.log(response);                   // The current login status of the person.
    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
      testAPI();  
    } else {                                 // Not logged into your webpage or we are unable to tell.
      //document.getElementById('status').innerHTML = 'Please log ' + 'into this webpage.';
    }
  }


  function checkLoginState() {               // Called when a person is finished with the Login Button.
	//console.log("checkLoginState");
    FB.getLoginStatus(function(response) {   // See the onlogin handler
      statusChangeCallback(response);
    });
  }


  window.fbAsyncInit = function() {
	//alert("fbAsyncInit");
    FB.init({
      appId      : '744736366425884',
      cookie     : true,                     // Enable cookies to allow the server to access the session.
      xfbml      : true,                     // Parse social plugins on this webpage.
      version    : 'v9.0'           // Use this Graph API version for this call.
    });


    FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
      statusChangeCallback(response);        // Returns the login status.
    });
  };
 
  function testAPI() {
	var subdomain = "";
  	if(window.location.hostname == "103.94.108.147"){
		var subdomain = "/pred";	
	}                // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    //console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
		console.log(response);
		//alert("fb hello");
      console.log('Successful login for: ' + response.name);
      console.log('json response : ' +JSON.stringify(response));
      var newData =   { "firstName" : response.name, "email" : "anjli19.ojha@gmail.com", "info3" : subdomain, "info1" : "Facebook"};
	  var dataJson = JSON.stringify(newData);
		$.ajax({
         type: "POST",
         contentType: "application/json;",
         url: subdomain+"/signup",
         data: dataJson,
         cache: false,
         success: function (data) {
        		window.location.href = subdomain+'/'
        	 
				console.log("SUCCESS : ", data);
			},
         error: function (e) {
  				console.log("ERROR : ", e);
  			}
		});
		
      	//document.getElementById('status').innerHTML ='Thanks for logging in, ' + response.name + '!';
    });
  }

</script>
<body>




<!-- The JS SDK Login Button -->



 <main class="app-wrapper-container intro-screen-bg signup-page">

      <section class="intro-two-questions py-2 h-100">
        <div class="container">
          <div class="row">
            <div class="col-12 text-center">
              <div class="back-btn-arrow py-2 mb-2 text-left" onclick="goBack();">
                <img th:src="@{/images/left-arrow-angle.png}" alt="">
                <h5>Join PREDGURU </h5>
              </div>
         
              <div class="text-center google-facebook-signin" >
              <!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();" >
</fb:login-button> -->

    	<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>

		<button class="loginBtn loginBtn--facebook" id="test">
            <span><img th:src="@{/images/signin-facebook-icon.png}" alt=""> Login with Facebook</span>
        </button>
                <!--  <a href="javascript:void(0);"> <img src="images/signin-google-icon.png" alt=""> Sign in with Google</a>
                <a href="javascript:void(0);"> <img src="images/signin-facebook-icon.png" alt=""> Continue with Facebook</a>-->
              </div> 
              <div class="w-100 text-center privacy-policy-text">
                <p>By continuing, you agree to our <a href="javascript:void(0)">Privacy Policy</a> & <a href="javascript:void(0)">Terms of use</a></p>
              </div>
              <div class="predguru-points text-center">
                <h5>How does PREDGURU work:</h5>
                <ol>
                  <li><span>1.</span>Sign up on Predguru.</li>
                  <li><span>2.</span>Join your favourite Contests.</li>
                  <li><span>3.</span>Use your game knowledge to Predict outcome.</li>
                  <li><span>4.</span>Win Coins.</li>
                  <li><span>5.</span>Use coins to Enter the Contests.</li>
                </ol>
              </div>
              <div class="footer-content pt-1 pb-4">
                <h6>Connect with us</h6>
                <a href="javascript:void(0);"><img th:src="@{/images/facebook-icon-fb.png}" alt=""></a>
                <a href="javascript:void(0);"><img th:src="@{/images/insta-icon-fb.png}" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </section>
<!-- Load the JS SDK asynchronously -->
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js"></script>
 <script>
      function onSignIn(googleUser) {
		//alert("calling here");
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

		var id_token = googleUser.getAuthResponse().access_token;
		console.log("ID Token: " + id_token);
       	localStorage.setItem("google_access_token", id_token);      	

        var newData =   { "firstName" : profile.getName(), "email" :profile.getEmail(), "info3" : window.location.hostname, "info1" : "google"};
	  	var dataJson = JSON.stringify(newData);

		$.ajax({
	        type: "POST",
	        contentType: "application/json;",
	        url: subdomain+"/signup",
	        data: dataJson,
	        cache: false,
	         	success: function (data) {
				//alert("Success");        	 	
				console.log("SUCCESS : ", data);
				window.location.href = subdomain+'/'
        	},error: function (e) {
				//alert("Failed");
  				console.log("ERROR : ", e);
        	    window.location.href = subdomain+'/'

  			}
		});

        // The ID token you need to pass to your backend:
        /*
			var id_token = googleUser.getAuthResponse().id_token;
        	console.log("ID Token: " + id_token);
		*/
		
		
    }

    </script>
    <script>
    document.getElementById('test').addEventListener('click', function() {
        //do the login
        FB.login(statusChangeCallback, {scope: 'email,public_profile', return_scopes: true});
    }, false);
    </script>
</body>
</html>