<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex" />
    <!-- added fab icon -->
	  <link rel="icon" type="image/png" th:href="@{/images/logo.png}"/>
    <!-- Bootstrap CSS -->
	
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/responsive.css">

    <title>PredGuru</title>
  </head>
  <body>
  <div id="ploader">
		<div id="loading-bar-spinner" class="spinner">
			<div class="spinner-icon"></div>
		</div>
	</div>
    <main class="app-wrapper-container intro-screen-bg">

      <section class="intro-two-questions py-2 h-100 continue-screen-page do-not-sell">
        <div class="container">
		<!----back Arrow----->
		<div class="row">
		<div class="col-lg-12">
		 <div class="back-btn-arrow   mb-2"><a href="javascript:void(0);">
                <img th:src="@{/images/left-arrow-angle.png}" alt="">
              </a>&nbsp;&nbsp;&nbsp; <span>Predguru</span></div>
			 </div>
		</div>
		<!----End Back Arrow--->
		<!------Rules----->
		<div class="row">
		<div class="sell text-center">
		<img th:src="@{/images/sell.png}" alt="" class="img-fluid">
		<p>We use device identifiers(like cookies, beacons, and IP addresses) to improve our website and customize your experience. This sharing of data may be defined as a sale under the california Consumer Privacy Act.</p>

<p>You have the right to opt out of the sale of your personal information to third parties. Our <a href="https://predguru.com/privacy-us.html">privacy policy</a> describes the right in detail.</p>
 <div class="col-12 opt">
 <a th:href="@{/optout/success}" onclick="optOutClick()"  class="out">OPT OUT</a>
 </div>
		</div>
		</div>
		<!-----End Rules---->
 
      </section>

    </main>
    
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="js/3.5.1-jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
	<script>
$(document).ready(function(){
	
	$('ul.tabs li').click(function(){
		var tab_id = $(this).attr('data-tab');

		$('ul.tabs li').removeClass('current');
		$('.tab-content').removeClass('current');

		$(this).addClass('current');
		$("#"+tab_id).addClass('current');
	})
	/* var countryCode=localStorage.getItem("country_code"); */
})

$('.back-btn-arrow').click(function(){
	window.history.back();
})

function optOutClick(){
	var optsuccess=localStorage.setItem("optoutsucess","true");
	//console.log("at do not selloutput......",subdomain)
	//window.location.href= subdomain + '/optoutsuccessful';
}

if(sessionStorage.getItem("optoutclick") == "success" ){
	sessionStorage.clear();

	$('#ploader').show();
	var subdomain = "";
	if(window.location.hostname == "103.94.108.147"){
		var subdomain = "/pred";
	}
	window.location.href = subdomain + '/';


}
	</script>
  </body>
</html>