<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="noindex" />
    <!-- favicon -->
    <link rel="icon" type="image/png" th:href="@{/images/logo.png}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <title>Rules</title>
  </head>
  <body>
    <main class="app-wrapper-container" style="background:#fff;">

      <section class="contactus-page">
        <div class="container">
          <div class="row">
            <div class="featured-image mb-3">
              <div class="col-12">
                <div class="logo py-3">
                  <a href="javascript:void(0);"><img src="images/contactus-logo.png" alt=""></a>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="contents">
                <h1>Contact Us</h1>
                <p>For any queries/feedback, please reach us at support <a href="javascript:void(0);">support@predguru.com</a></p>
                <h5>Are you an app/web publisher? Integrate PredGuru now to grow your engagement & revenue, get in touch with us at <a href="javascript:void(0);">support@predguru.com</a></h5>
              </div>
            </div>
            <div class="copyright-footer">
              <p>Copyright © 2020 Walking Street Media Pvt. Ltd. All Rights Reserved</p>
            </div>
          </div>
        </div>
      </section>

    </main>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="js/3.5.1-jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>